body, html {
    padding: 0;
    font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

.data-item {
    display: flex;
    border-bottom: lightgrey 0.3px solid;
    padding: 5px 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.predicate {
    font-weight: bold;
    display: flex;
}

.object {
    width: 60%;
    word-break: break-all;
}